<div class="container">
    <form>
        <div>
            <label for="id">ID</label>
            <input type="number" disabled [(ngModel)]="id" id="id" name="id">
        </div>

        <div>
            <label for="author">Author</label>
            <input type="text" disable [(ngModel)]="author" id="author" name="author">
        </div>

        <div>
            <label for="music">Music</label>
            <input type="text" disable [(ngModel)]="music" id="music" name="music">
        </div>

        <button type="submit" (click)="registerNewMusic()">Criar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Musica</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            @for (music of musics$ | async; track music.id) {
            <tr>
                <td>{{ music.id }}</td>
                <td>{{ music.author }}</td>
                <td>{{ music.text }}</td>
            </tr>
            } @empty {
            <tr>
                <td colspan="3">There are no registered musics.</td>
            </tr>
            }
        </tbody>
    </table>
</div>